a {
    color: black;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
}

h1 {
    font-weight: 400;
    font-family: "Barlow", sans-serif;
}

body {
    font-family: "Barlow", sans-serif;
    padding-top: 110px;
}

.fa-linkedin {
    color: #0e76a8;
}

.navbar {
    background-color: white;
}

#homeCards {
    width: auto;
    height: 600px;
}


.card-img-top {
    width: auto;
    height: 250px;
}

#AboutImg{
    width: auto;
    height:300px
}