*{
    margin:0;
}
a {
    color: black;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
}

h1 {
    font-weight: 400;
    font-family: "Barlow", sans-serif;
}

body {
    font-family: "Barlow", sans-serif;
    padding-top: 110px;
    line-height: 1.5;
}

.fa-linkedin {
    color: #0e76a8;
}

.navbar {
    background-color: white;
}

.card-img-top {
    width: auto;
    height: 250px;
}

.card-body {
    font-family: "Barlow", sans-serif;
}

#homeCards {
    width: auto;
    height: 600px;
}
#AboutImg{
    max-width: 100%;
    height:auto;
}