a {
    color: black;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
}

h1 {
    font-weight: 400;
    font-family: "Barlow", sans-serif;
}

body {
    font-family: "Barlow", sans-serif;
    padding-top: 110px;
}

.fa-linkedin {
    color: #0e76a8;
}

.navbar {
    background-color: white;
}

.card {
    width: auto;
    height: 450px;
}

#creatorCards {
    width: auto;
    height: 200px;
}