a{
    color: black;
    text-decoration: none;
    font-family: "Barlow",sans-serif;
    font-weight: "bold";
}



body {
    font-family: "Barlow", sans-serif;
    padding-top:100px;
}

.fa-linkedin {
    color: #0e76a8;
}

.navbar {
    background-color: white;
}

.card {
    width:200px;
    height:450px;
}

#creatorCards {
    width: auto;
    height:200px;
}

.textarea {
    width:100%
}